
.admin-bar {
	#main {
		padding-top:177px;
		@media only screen and (max-width: 1100px) {
			margin-top: 0px;
		}
		.layout.catch-all {
			@media only screen and (max-width: 1100px) {
				padding-top: 30px;
			}
		}
	}
	// &.role-teacher,
	// &.role-eot,
	// &.role-eot-assistant {
	// 	#main {
	// 		@media only screen and (max-width: 1100px) {
	// 			padding-top: 120px;
	// 		}
	// 	}
	// }
}
// .site-banner-active {
// 	.header {
// 		top: 47px;
// 	}

// 	#main {
// 		padding-top: 177px;
// 		@media only screen and ($mobile-lg) {
// 			padding-top: 0px;
// 		}
// 	}

// 	&.admin-bar {
// 		.header {
// 			top: 79px;
// 		}
// 	}

// }
.logged-in.error404 {
	#main {
		.layout:first-of-type {
			@media only screen and (max-width: 1100px) {
				padding-top: 30px;
			}
		}
	}
}
.home #main .layout:first-of-type.hero {
	@media only screen and (max-width: 1100px) {
		margin-bottom: 200px;
	}
}
.error404 {
	#main {
		@media only screen and (max-width: 1100px) {
			margin-top: 160px;
		}
		.layout:first-of-type {
			@media only screen and (max-width: 1100px) {
				padding-top: 30px;
			}
		}
	}
}
#main {
	background: $sitebg;
	padding-top:129px;
	.layout:first-of-type {
		@media only screen and (max-width: 1100px) {
			padding-top: 30px;
		}
		&.hero {
			@media only screen and (max-width: 1100px) {
				padding-top: 20px;
			}
		}
	}

	img.aligncenter {
		display:block;
		margin: auto;
	}
}
.single-product #main {
	@media only screen and (max-width: 768px) {
		margin-top: 100px;
	}
}

.exploded-view {
	.summary {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		display: block;
		width: 800px;
		max-width: 100%;
		margin: auto;
	}
}

.order-status {
	.order-status-form {
		display: flex;
		margin-bottom: 30px;
		@media($mobile-lg){
			flex-wrap: wrap;
		}
		&.is-loading {
			opacity: 0.6;
			pointer-events: none;
		}
		span.label-text {
			position: absolute;
			left: 10px;
			top: 5px;
		}
		label {
			position: relative;
			font-weight: 500;
		}
		input {
			padding: 40px 10px 20px;
			height: 65px;
		}
		button {
			height: 65px;
		}
	}
	.order-status-field {
		padding-right: 30px;
		&:last-child {
			padding-right: 0;
		}
	}
	.order-status-field-email {
		width: 40%;
		@media($mobile-lg){
			width: 100%;
		}		
	}	
	.order-status-field-number {
		width: 40%;
		@media($mobile-lg){
			width: 100%;
		}
	}
	.order-status {
		text-transform: capitalize;
	}
	.order-products {
		margin-bottom: 30px;
		padding-left: 30px;
		list-style-type: disc;
	}
}

.select2-dropdown {
	border: 1px solid #000;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--classic .select2-selection--single .select2-selection__arrow {
	height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--classic .select2-selection--single .select2-selection__rendered {
	color: #000;
	line-height: 48px;
}
.select2-container .select2-selection--single {
	height: 48px;
}
.select2-dropdown,
.select2-container--classic .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single {
	border-radius: 0;
}
.select2-container--default .select2-selection--single {
	&:focus {
		outline: $focus-outline !important;
		outline-offset: $focus-outline-offset !important;
	}
}
#thwma-shipping-alt {
	border-radius: 0 !important;
}
.desktop-only {
    @media(max-width: 1100px){
        display: none !important;
    }
}
.mobile-only {
    @media(min-width: 1101px){
        display: none !important;
    }
}
.youtube-embed-container {
	iframe {
		@media(max-width: 650px){
			width: 420px;
			height: 238px;
		}
		@media(max-width: 510px){
			width: 360px;
			height: 204px;
		}
		@media(max-width: 446px){
			width: 300px;
			height: 168px;
		}
		@media(max-width: 385px){
			width: 250px;
			height: 140px;
		}						
	}
}

.interior-page {
	&.long-type-page {
		@include longtype();
	}
}