<section class="layout teasers">
	<div class="content">
		<div class="wrapper">
			<h2 class="h5 underline">Related articles</h2>
			<ul class="teaser-list">
				<li class="card">
					<div class="image" style="background-image: url('assets/img/shop/core-curriculum.png');"></div>
					<h2 class="title h5">Article title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="#" class="btn">Learn more</a>
				</li>
				<li class="card">
					<div class="image" style="background-image: url('assets/img/shop/tactile-graphics.png');"></div>
					<h2 class="title h5">Article title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="#" class="btn">Learn more</a>
				</li>
				<li class="card">
					<div class="image" style="background-image: url('assets/img/shop/software-demos.png');"></div>
					<h2 class="title h5">Article title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="#" class="btn">Learn more</a>
				</li>
			</ul>
		</div>
	</div>
</section>