.layout.gallery {
	.gallery-list {
		display: flex;
		flex-wrap: wrap;
	}

	.gallery-item {
		position: relative;
		width: 230px;
		height: 230px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			max-width: none;
			height: 280px;
		}
	}
}
