.layout.hero {
	position: relative;
	margin-top: 0;
	overflow: hidden;
	@media screen and (max-width: 680px) {
		text-align: center;
	}
	
	&.small,
	&.medium,
	&.large,
	&.xlarge {
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 3em;
			@media screen and (max-width: 680px) {
				font-size: 2.5em;
			}
		}
	}
	
	&.category-hero {
    	margin-top: 0px;
		@media screen and (max-width: 680px) {
			margin-top:60px;
		}
		.col {
			padding-top: 150px;
			padding-bottom: 150px;
			@media screen and (max-width: 680px) {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}
	.wrapper {
		display: flex;
	}
	&.align-left {
		.row {
			flex-direction: row-reverse;
			@media screen and (max-width: 680px) {
				flex-direction: column-reverse;
			}
		}
		.col {
			padding-left: 60px;
			@media screen and (max-width: 680px) {
				padding-left: 0;
			}
		}
	}
	&.align-right {
		.row {
			flex-direction: row;
			@media screen and (max-width: 680px) {
				flex-direction: column-reverse;
			}
		}

		.col {
			padding-right: 60px;
			@media screen and (max-width: 680px) {
				padding-right: 0;
			}
		}
	}
	.row {
		display: flex;
		align-items: center;
		width: 100%;
		@media screen and (max-width: 768px) {
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.col {
		width: 50%;
		padding-top: 80px;
		padding-bottom: 80px;
		@media screen and (max-width: 680px) {
			width: 100%;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	&.align-left {
		.image {
			left: 0;
		}
	}
	&.align-right {
		.image {
			right: 0;
		}
	}
	.image {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 680px) {
			position: relative;
			width: 100%;
			height: 300px;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&.small {
		.wrapper {
			position: relative;
		}
		.row {
			width: 100%;
		}
		.col {
			width: 50%;
			@media screen and (max-width: 680px) {
				width: 100%;
				&+.col {
					padding-bottom:0;
				}
			}
		}
	}
	&.medium {
		background-color: $black;
		color: $sitebg;
		-webkit-font-smoothing: antialiased;
		.btn {
			color: #fff;
			background-color: #000;
			border: 1px solid #fff;
	    	&:hover {
				color: #000;
		    	background-color: #fff;
			}
		}
		.row {
			min-height: 600px;
			@media screen and (max-width: 680px) {
				flex-direction: column;
				min-height: auto;
			}
		}
		.image:before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			@media screen and (max-width: 680px) {
				display: none;
			}
		}
		.col {
			a {
				color: #FFFFFF;
				&:hover, &:focus {
					color: $pink;
				}
			}
		}
	}

	&.large {
		&+.hero.large {
			margin-top: -200px;
			@media screen and (max-width: 680px) {
				margin-top: -100px;
				margin-bottom: 40px;
			}
		}

		&.has_image {
			@media screen and (max-width: 680px) {
				display: flex;
				flex-direction: column-reverse;
			}

			.row {
				min-height: 100vh;
				@media screen and (max-width: 680px) {
					min-height: auto;
				}
			}
		}

		&.no_image {
			overflow: visible;
			// margin-bottom: 300px !important;

			.row {
				min-height: calc(100vh - 136px);
				@media screen and (max-width: 680px) {
					display: flex;
					min-height: calc(100vh - 136px);
				}
			}

			.col {
				width: 100%;
				margin-bottom: 120px;
				@media screen and (max-width: 680px) {
					margin-bottom: 60px;
				}
			}

			.title {
				font-size: 2em;
				text-align: center;
				@media screen and (max-width: 680px) {
					font-size: 4.9vw;
				}

				span {
					display: block;
					&.ry {
				    display: inline-block;
				    letter-spacing: 0.07em;
					}
					&.mobile-center {
						display: inline-block;
						@media screen and (max-width: 807px) {
							padding-left: 4.5%;
						}
					}
				}
			}

			.line-one,
			.line-three {
				font-size: 1.5em;
			}

			.line-two {
				font-size: 2.5em;
			}

		}
	}
	&.xlarge {
		background-color: $black;
		color: $sitebg;
		-webkit-font-smoothing: antialiased;
		.wrapper {
			max-width: none;
		}
		.buttons {
			margin-bottom: 0;
			text-align: center;
		}
		.btn {
			color: #fff;
			background-color: #000;
			border: 1px solid #fff;
	    	&:hover, &:focus {
				color: #000;
		    	background-color: #fff;
			}
		}
		.row {
			min-height: 600px;
			@media screen and (max-width: 680px) {
				flex-direction: column;
				min-height: auto;
			}
		}
		.col {
			padding-left: 60px;
			padding-right: 60px;
			width: 30%;
			text-align: center;
			@media screen and (max-width: 1440px) {
				width: 40%;
			}
			@media screen and (max-width: 1024px) {
				width: 45%;
			}			
			@media screen and (max-width: 680px) {
				width: 100%;
				padding-left: 0;
				padding-right: 0;				
			}
			a {
				color: #FFFFFF;
				&:hover, &:focus {
					color: $pink;
				}				
			}		
		}
		.image {
			width: 68%;
			background-position: center center;	
			@media screen and (max-width: 1440px) {
				width: 60%;
			}
			@media screen and (max-width: 1024px) {
				width: 55%;
			}						
			@media screen and (max-width: 680px) {
				width: 100%;
				height: 400px;
			}			
		}
		// &.align-left {			
		// 	.image:before {
		// 		content: ' ';
		// 		position: absolute;
		// 		right: 0;
		// 		top: 0;
		// 		width: 200px;
		// 		height: 100%;
		// 		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
		// 		background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		// 		background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		// 		background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
		// 		@media screen and (max-width: 680px) {
		// 			display: none;
		// 		}
		// 	}			
		// }		
		// &.align-right {
		// 	.image:before {
		// 		content: ' ';
		// 		position: absolute;
		// 		left: 0;
		// 		top: 0;
		// 		width: 200px;
		// 		height: 100%;
		// 		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
		// 		background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		// 		background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		// 		background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		// 		@media screen and (max-width: 680px) {
		// 			display: none;
		// 		}				
		// 	}			
		// }
	}	
	&.xxlarge{

		.buttons{
			.btn{
				display: block;
				width: fit-content;
				margin: 0 auto;

				& + .btn {
					margin-left: auto;
				}
			}
		}
		
		.image{
			width: 100%;
			height: 65vh;
	
			@media screen and (max-width: 680px) {
				position: absolute;
				height: 50vh;
			}
		}

		.wrapper{
			margin-top: 65vh;

			.row{
				display: block;
				
				.col{
					margin: auto;
					text-align: center;
					width: 80%;

					@media screen and (max-width: 680px) {
						padding-top: 80px;
						padding-bottom: 80px;
						width: unset;
					}
				}
			}
			
			@media screen and (max-width: 680px) {
				margin-top: 50vh;
			}
		}

	}
	.buttons {
		text-align: left;
		.btn {
			+.btn {
				margin-top: 20px;
				margin-left: 0;
			}
		}
	}
}
// First hero on home page is unique
body.home .layout.hero.large.no_image {
	display: none;
}
// body.home .accent-lines {
// 	position: relative;
// 	margin-bottom: 50px;
// 	bottom: auto;   
// }

@media screen and (max-width: 680px){
	.home #main .layout:first-of-type.hero {
		margin-bottom: 50px;
	}               
}